<h2>NPC's:</h2>
<section class='npcs'>
  <% if @npcs.nil? || @npcs == [] %>
    <p>There are currently no NPC's saved.</p>
  <% else %>
    <% @npcs.each do |npc| %>
      <li><%= link_to npc.name, "/npcs/#{npc[:id]}" %> <%= form_tag "/npcs/destroy/#{npc[:id]}", method: :delete do %>
        <%= submit_tag "Delete", class: :button, class: "button-text-area"  %>
      <% end %></li>
    <% end %>
  <% end %>
</section>
