
<div class="npc_pdf-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="4">
          <table>
            <tr>
              <td>
                Npc #: <b><%= @npc.id %></b>
                <br>
                Created: <b><%= @npc.created_at.strftime('%d/%m/%Y') %></b>
                <br>
              </td>
            </tr>
          </table>
        </td>
      </tr>
</div>
