<h1>Welcome <%= current_user.name %>!</h1>

<h2>NPC's:</h2>
<section class='npcs'>
  <% if @npcs.nil? %>
    <p>You currently have no NPC's.</p>
  <% else %>
    <% @npcs.each do |npc| %>
      <li><%= npc.name %></li>
    <% end %>
  <% end %>
</section>
